html, body{
  background: url("https://cdn1.savepice.ru/uploads/2018/7/23/976e78ba9b92b97248ab74069a2820b5-full.jpg");
  background-size: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
