<div class="chat">
  <!--chat history container-->
  <div class="chat-messages-container" #chatMessagesContainer>
    <div class="chat-message-block" *ngFor="let message of chatMessages" [ngClass]="(message.author == 'Me ') ? 'pull-right' : 'pull-left'">
      <div class="chat-message-author">{{message.author + message.timestamp}}</div>
      <div class="chat-message-text">{{message.text}}</div>
    </div>
  </div>
  <!--End of chat history block-->

  <!--Input block with  text area and button-->
  <div class="chat-input-block">
    <form (ngSubmit)="sendChatMessage()">
      <input type="text" id="chatInput" class="chat-input" [(ngModel)]="chat.message" name="inputChat">
      <button type="submit">Send</button>
    </form>
  </div>
  <!--End of input block-->
</div>
