.chat{
  height: 305px;
  width: 240px;
  /*background: mintcream;*/
  margin: 0 auto;
  border-radius: 7px;
  border: 1px solid black;
}
.chat-input-block input{
  width: 175px;
}
.chat-input-block{
  margin: -5px auto;
  width: 95%;
}

.chat textarea{
  margin:4px 4px 0 4px ;
  height: 266px;
  width: 226px;
  border: none;
  background: mintcream;
}

.chat-messages-container {
  background-color: #fff;
  border: none;
  border-radius: 6px;
  color: black;
  display: block;
  font-size: 12px;
  position: relative;
  overflow-y: scroll;
  margin: 5px;
  padding: 10px;
  height: 250px;
  width: calc(100% - 33px);
}
.chat-message-block {
  background-color: lightgrey;
  border: none;
  border-radius: 4px;
  display: block;
  position: relative;
  margin: 20px auto;
  padding: 5px;
  text-align: left;
  height: auto;
  width: 200px;
  max-width: 80%;
}
.chat-message-author {
  font-size: 10px;
  color: darkslategrey;
  position: absolute;
  left: 0;
  top: -20px;
}
.chat-message-text {
  display: block;
  height: auto;
  width: 100%;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
