ul{
  padding: 0;
  margin: 0 0px 20px 20px;
}
li{
  list-style: none;
}
i{
  color: white;
}
a{
  color: white;
  text-decoration: none;
}
a:hover, button:hover{
  cursor: pointer;
}
.background{
  background: url("http://i.piccy.info/i9/73a11ee011254f699c2c5059da1944ac/1532451061/693337/1259664/background_2011768_1920.jpg")  no-repeat;
  height: 100%;
  background-size: 100%;
  max-width: 2000px;
  margin: 0 auto;
}
.absolute-support{
  position: absolute;
  right: 10px;
  top: 40px;
  font-size: 40px;
}
/***************************************
                Header
***************************************/
.container-home-header{
  padding: 8px 0;
  background: #0f1922;
  height: 22px;
}
.container-home-header a{
  font-size: 20px;
}
.container-home-header ul{
  display: flex;
}
.container-home-header ul li{
  margin: 0 5px;
}
.left-header-ul{
  float: left;
  margin: 0 10%;
}
.right-header-ul{
  float: right;
  margin: 0 10%;
}
.right-header-ul li{
  margin: 0 12px !important;
}
.big-name{
  color: steelblue;
  font-weight: bold;
}

/****************************************
              Container
*****************************************/
.container-content-part{
  width: 80.2%;
  float: left;
}
.container-user-page{
  height: calc(100% - 38px);
  margin: 0 10%;
  background-color: rgba(0, 0, 0, .3 );
  color: white;
}
.container-navigation-and-chat-bar{
  background-color: rgba(0, 0, 0, .3 );
  height: 100%;
  width: 300px;
  float: right;
}

/**************************************
            Aside bar
***************************************/
.container-navigation-and-chat-bar p {
  text-align: center;
  margin-bottom: 3px;
  font-size: 22px;
}
.button-ask{
  font-size: 24px;
  margin: 10px 20px 0;
  background: cadetblue;
  border-radius: 5px;
  padding: 3px;
}
.mentor-online-display-container{
  width: 60%;
  margin: 45px auto;
  border-radius: 5px;
  padding: 10px 25px 25px 25px;
  border: 1px solid white;
  background: rgba(0, 0, 0, .3);
}
.mentor-online-display-container p{
  margin: 0;
  text-decoration: underline;
  font-weight: bold;
}
.mentor-online-display-container i{
  font-size: 50%;
  color: #4CAF50;
}
.mentor-online-display-container ul li{
  padding: 3px;
}
.mentor-online-display-container ul li a{
  margin-left: 4px;
  font-size: 20px;
}
.news-block{
  margin: 0 5% 0 5%;
}
.news-block h3{
  margin: 0 0 10px 0;
  text-align: center;
}
.news-block ul li{
  margin-bottom: 15px;
}
.news-block p{
  text-align: left;
  font-size: 15px;
  margin-top: 5px;
}
.news-block a {
  margin: 0 90px;
  background: brown;
  padding: 6px;
  border-radius: 6px;
}
.news-input{
  margin: 0 20px;
}
.news-input input{
  margin-top: 8px;
  height: 30px;
  width: 230px;
}
.news-input button{
  height: 50px;
  width: 60px;
  margin-top: 5px;
  margin-left: 85px;
  border-radius: 6px;
  background: #4CAF50;
  color: white;
  border: none;
}

