<app-questionanswer-dialog
  *ngIf="answerOpen"
  [options]="{send: true, cancel: true, answerOpen: true}"
  (doConfirm)="sendMessage()"
  (doReject)="reject()"
></app-questionanswer-dialog>
<div class="background">
  <a class="absolute-support"><i class="fas fa-question-circle"></i></a>
  <div class="container-home-header">
    <ul class="left-header-ul">
      <li><a href="home/:id" class="big-name">Admin</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/">Progress</a></li>
      <li><a href="/">Tasks</a></li>
      <li><a href="home/mentor">Mentors Side</a></li>
      <li><a href="/">Admin Side</a></li> <!--if user admin-->
    </ul>
    <ul class="right-header-ul">
      <li><a>Score: 713</a></li>
      <li><a>{{this.userEmail}}</a></li>
      <li><a><i class="fas fa-envelope"> Messages</i></a></li>
      <li (click)="quit()"><a><i class="fas fa-cogs"></i></a></li>
    </ul>
  </div>
  <div class="container-user-page">
    <div class="container-content-part">
     <router-outlet></router-outlet>
    </div>
    <div class="container-navigation-and-chat-bar">
      <div class="mentor-online-display-container">
        <p>Mentors Online: </p>
        <ul>
          <li><i class="fa fa-circle text-success"></i> <a>Harry</a></li>
          <li><i class="fa fa-circle text-success"></i> <a>Hermyona</a></li>
        </ul>
        <a class="button-ask"  (click)="answerOpenFunc()">Ask Mentor</a>
      </div>
      <div class="news-block">
        <h3>News</h3>
        <ul>
          <li *ngFor="let news of chatComponent.newsBlock">
            <i>{{ news.timestamp }}</i>
            <p>{{ news.text }}</p>
          </li>
        </ul>
        <a *ngIf="this.appUser && (this.appUser.role === 'admin' || this.appUser.role === 'super')" (click)="openInput()">New News</a>
        <div *ngIf="newsInputOpen" class="news-input">
          <input type="text" [(ngModel)]="chatComponent.chat.newsMessage">
          <button (click)="sendNewsFunc()" (click)="newsInputOpen = false">Add news</button>
        </div>
      </div>
      <p>Chat</p>
      <app-chat-component></app-chat-component>
    </div>
  </div>
</div>
