.dialog-answer-overlay {
  background-color: rgba(0,0,0,.1);
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  transition: all .2s ease;
  height: 100vh;
  width: 100vw;
  z-index: 990;
}
.dialog-answer-overlay-active {
  background-color: rgba(0,0,0,.6);

}
.dialog-answer-container {
  background-color: #fff;
  border-radius: 6px;
  border: none;
  color: darkslategrey;
  display: block;
  margin: 0;
  padding: 25px;
  position: absolute;
  left: calc(50vw - 200px);
  top: -600px;
  transition: all .2s ease;
  height: 245px;
  width: 440px;
  z-index: 991;
}
.dialog-answer-container input{
  width: 438px;
  margin-bottom: 15px;
}
.dialog-answer-container textarea{
  overflow-y: auto;
}
.dialog-answer-container-active {
  top: calc(50vh - 110px);
}
.dialog-answer-message {
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
  min-height: 60px;
}
.dialog-answer-actions {
  text-align: center;
  width: 100%;
}
.dialog-answer-actions button {
  border-radius: 6px;
  border: none;
  display: inline-block;
  position: relative;
  margin: 4px 20px;
  height: 30px;
  width: 90px;
}
