<div class="dialog-answer-overlay" (click)="do('reject')" [ngClass]="{'dialog-answer-overlay-active':answerOpen}"></div>
<div class="dialog-answer-container" [ngClass]="{'dialog-answer-container-active':answerOpen}">
  <div class="dialog-answer-message">
    <input type="text" placeholder="Title of question" [(ngModel)]="this.HomepageComponent.title">
    <textarea id="" cols="60" rows="10" placeholder="Details..." [(ngModel)]="this.HomepageComponent.description"></textarea>
  </div>
  <div class="dialog-answer-actions">
    <button type="button" name="cancel" (click)="do('reject')" *ngIf="options.cancel">Cancel</button>
    <button type="button" name="cancel" (click)="do('confirm')" *ngIf="options.send">Send</button>
  </div>
</div>

