tr td{
  text-align: center;
}
tr{

}
table * {
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding: 5px 0 5px 0;
}
.mentor-dashboard{
  position: absolute;
  top: 27%;
  left: calc(50% - 395px);
  border-radius: 8px;
  background: url(https://previews.123rf.com/images/loskutnikov/loskutnikov1106/loskutnikov110600045/9719891-old-wooden-board-background.jpg);
  border: 6px solid #8c5517;
  box-shadow: 0px 50px 80px 20px rgba(0,0,0,.7);
  padding: 10px;
}
thead{
  font-size: 25px;
}
.question{
  width: 400px;
}
.question-answer{
  margin-right: 10px;
}
.question-author{
  padding-left: 10px;
}
.status{
  min-width: 90px;
}
